<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"></meta>
		<meta http-equiv="Content-Type" content="text/html"></meta>
		<title>Registrar variedad de cafe</title>
	</head>
	<body>
		<div>
			<h1 >Registrar variedad de cafe</h1>
			<div>
				<form th:object="${cafe}" th:action="@{/cafe/create/}" method="post">
					<div>
				      	<input th:field="*{idFinca}" type="hidden">
					</div>
					<div>
						<label>Variedad</label>
				      	<input th:field="*{variedad}" type="text" placeholder="Variedad de cafe" >
					</div>
				  	<button type="submit">Crear</button>
				</form>
			</div>
		</div>
	</body>
</html>